* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, and Times New Roman;
}

.container {
    min-height: 100vh;
    margin: 20px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color: burlywood;
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    border-bottom: 4px dashed rgb(255, 255, 255);
    text-decoration-style: dashed;
    color: rgb(78, 21, 18);
    font-size: 25px;
}

.animation {
    padding: 10px 20px;
    border-radius: 60%;
    position: relative;

    animation-name: example;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes example {
    0% {
        color: white;
        background-color: rgb(255, 0, 0);
        left: -300px;
    }

    100% {
        background-color: yellow;
        left: 300px;
    }
}

main {
    display: flex;
    flex-direction: column;
    border: 20px solid orange;
    border-image: url("../img/border_img.svg") 150;
    border-image-repeat: round;
    padding: 20px;
    gap: 20px;
}

.para {
    width: 500px;
    align-self: center;
}

img {
    align-self: flex-start;
    width: 450px;
    height: 255px;
    border: 4px dotted rgb(5, 96, 11);
}

.row {
    display: flex;
   flex-wrap:wrap ;
}

.order {
    order: -1;
}

.column {
    flex: 1;
    padding: 20px;
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
}
p,
li{
    padding-bottom: 8px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: burlywood;
    margin-top: 30px;
}